@font-face {
   font-family: 'Futura Md BT Bold';
   font-display: swap;
   src: url('file:///C:/Users/Thales/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-15_141803/fonts/Futura%20Md%20BT%20Bold/font.ttf');
}
